<div class="col s2 hide-on-med-and-down">
  <div class="fixed-div avatar">
    <div class="card">
      <div class="card-image">
          <%= image_tag @user.photo  %>
      </div>
      <div class="card-content ">
        <h5>
          <%= @user.lastname %></h5>
        <% if signed_in? %>
        <ul>
          <li>
            <%= link_to "#{t('edit_profile')}", edit_user_path(@user) %></li>
          <li>
            <%= link_to "#{t('user_orders')}",  root_path %></li>
          <li>
            <%= link_to "#{t('delete_user')}", @user, method: :delete, data: { confirm: "You sure?" } %></li>
        </ul>
        <% elsif current_user == @user %>
        <ul>
          <li>
            <%= link_to "#{t('edit_profile')}", edit_user_path(current_user) %></li>
          <li>
            <%= link_to "#{t('my_orders')}",  current_user %></li>
        </ul>
      <% else %>
        <%= link_to "#{t('back_to_account')}", current_user %>
        <% end %>
      </div>
      <div class="card-action">
        <%= link_to "#{t('signout')}", user_signout_path, method: "delete" %>
      </div>
    </div>
  </div>
</div>
