<div class="formfactor">
    <h4><%= @manager.lastname %></h4>
    Personal id: <%= @manager.id %></br>
    Works at <%= @restaurant.name %> since <%= @manager.created_at.strftime("%d.%b.%Y") %> </br>
    <% if signed_in? %>
      <%= link_to "Sign out", signout_path, method: "delete" %>
    <% else %>
      Not signed in!
    <% end %>

</div>
