<%= render 'layouts/header' %>
<div class="row">
  <div class="col s4 offset-s4">
        <div class="card">
          <div class="card-image">
            <%= image_tag("administrator_new.jpg")%>
            <span class="card-title grey-text text-lighten-2">Add a paybill!</span>

          </div>
          <div class="card-content">
            <%= form_for(@bill) do |f| %>
              <div class="field">
                <%= f.collection_select :customer_id, Customer.all, :id, :lastname, { prompt: "-Select guest-" }, class: "browser-default" %>
                <%= f.collection_select :cashier_id, Cashier.all, :id, :lastname, { prompt: "-Select cashier-" }, class: "browser-default" %>
              </div>
              <div class="card-action">
            <button class="btn waves-effect waves-light blue-grey darken-4" type="submit" name="action">Save information</button>
          </div>
        </div>
      </div>
    </div>
    <% end %>
