<%= render 'layouts/header' %>

	<div class="row">
		<div class="col s10 offset-s1">
			<table id="bill">
			    <thead>
			          <tr>
										<th data-field="id">ID</th>
			              <th data-field="customer">  <%=t :customer %></th>
			              <th data-field="cashier">  <%=t :cashier %></th>
										<th data-field="deatails">  <%=t :detail %></th>
                    <th data-field="date">  <%=t :created %></th>
				            <th data-field="edit">  <%=t :edit %></th>
		    				    <th data-field="delete">  <%=t :delete %></th>
			          </tr>
			    </thead>

			    <tbody>
			    	<% @bills.each do |bill| %>
						<% customer = Customer.find(bill.customer_id) %>
						<% cashier = Cashier.find(bill.cashier_id) %>
						<% order = Order.find(bill.order_id) %>
			          <tr>
									<td> <%= bill.id %></td>
			            <td> <%= customer.lastname %></td>
			            <td> <%= cashier.lastname %></td>
									<td> <%= link_to "#{t('detail')}", order %></td>
                  <td> <%= bill.created_at %></td>
                  <td> <%= link_to "#{t('edit')}", edit_bill_path(bill) %></td>
	    					  <td> <%= link_to "#{t('delete')}", bill, method: :delete, data: { confirm: "#{t('you_sure')}" } %></td>
			          </tr>
			        <% end %>
			    <tbody>
			</table>
		</div>
	</div>
