<%= render 'layouts/header' %>

	<div class="row">
		<div class="col s10 offset-s1">
			<table id="bill">
			    <thead>
			          <tr>
										<th data-field="id">ID</th>
			              <th data-field="customer">Customer</th>
			              <th data-field="cashier">Cashier</th>
										<th data-field="deatails">Details</th>
                    <th data-field="date">Created at</th>
				            <th data-field="edit">Edit</th>
		    				    <th data-field="delete">Delete</th>
			          </tr>
			    </thead>

			    <tbody>
			    	<% @bills.each do |bill| %>
						<% customer = Customer.find(bill.customer_id) %>
						<% cashier = Cashier.find(bill.cashier_id) %>
						<% order = Order.find(bill.order_id) %>
			          <tr>
									<td><%= bill.id %></td>
			            <td><%= customer.lastname %></td>
			            <td><%= cashier.lastname %></td>
									<td><%= link_to "Order details", order %></td>
                  <td><%= bill.created_at %></td>
                  <td><%= link_to 'Edit', edit_bill_path(bill) %></td>
	    					  <td><%= link_to "Delete", bill, method: :delete, data: { confirm: "You sure?" } %></td>
			          </tr>
			        <% end %>
			    <tbody>
			</table>
		</div>
	</div>
