<%= render 'layouts/header' %>
<div class="formfactor">
  <h4>Bill №<%= @bill.id %></h4>
  Payed by: <i><%= @guest.lastname %></i></br>
  Processed by: <i><%= @cashier.lastname %></i></br>
  Summary: <%= @bill.summary %>$</br>
  At: <%= @restaurant.name %> on <%= @bill.created %>

</div>
