<div class="formfactor">
  <h4>Bill №<%= @bill.id %></h4>
  Payed by: <i><%= @guest.LASTNAME %></i></br>
  Processed by: <i><%= @cashier.LASTNAME %></i></br>
  Summary: <%= @bill.SUMMARY %>$</br>
  At: <%= @restaurant.name %> on <%= @bill.CREATED %>

</div>
