<%= render 'layouts/header' %>
	<div class="panel">
	<div class="row">
		<div class="col s10 offset-s1">
			<table id="waiter">
			    <thead>
			          <tr>
										<th data-field="id"> ID</th>
                    <th data-field="restaurant"> <%=t :restaurant %></th>
			              <th data-field="lastname"> <%=t :name_lastname %></th>
			              <th data-field="created_at"> <%=t :created %></th>
				            <th data-field="edit"> <%=t :edit %></th>
		    				    <th data-field="delete"> <%=t :delete %></th>
			          </tr>
			    </thead>

			    <tbody>
			    	<% @waiters.each do |waiter| %>
						<% restaurant = Restaurant.find(waiter.restaurant_id) %>
			          <tr>
									<td> <%= waiter.id %></td>
			            <td> <%= restaurant.name %></td>
			            <td> <%= waiter.lastname %></td>
			            <td> <%= waiter.created_at %></td>
                  <td> <%= link_to "#{t('edit')}", edit_waiter_path(waiter) %></td>
	    					  <td> <%= link_to "#{t('delete')}", waiter, method: :delete, data: { confirm: "#{t('you_sure')}" } %></td>
			          </tr>
			        <% end %>
			    <tbody>
			</table>
		</div>
	</div>
</div>
