<div class="formfactor">
  <h4><%= @waiter.lastname %></h4>
  <%=t :personal_id %>
  <%= @waiter.id %></br>
  <%=t :works_at %>
<%= @restaurant.name %>
<%=t :since %>
<%= @waiter.created_at.strftime("%d.%b.%Y") %>
</br>
</div>
