<%= render 'layouts/header' %>
<div class="formfactor">
  <h4><%= @customer.lastname %></h4>
  <%=t :personal_id %> <%= @customer.id %></br>
  <%=t :registred_on %> <%= @customer.created_at.strftime("%d/%b/%Y") %>
</div>
