<%= render 'layouts/header' %>

<div class="row">
  <div class="col s6 offset-s3">
    <div class="card">
      <div class="card-image">
          <%= image_tag "plate.jpg" %>
          <span class="card-title black-text">
            <%=t :being_proceed %>
          </span>
      </div>
      <div class="card-action">
        <%= link_to "#{t('make_new_order')}", new_order_path %>
        <%= link_to "#{t('back_to_main')}", root_path %>
      </div>
    </div>
  </div>
</div>
