<%= render 'layouts/header' %>
<div class="row">
  <div class="col s4 offset-s4">
    <div class="card">
      <div class="card-image">
        <%= image_tag("administrator_new.jpg")%>
        <span class="card-title grey-text text-lighten-2">
          <%=t :hello_reservation %></span>
      </div>
      <div class="card-content">
        <%= form_for(@reservation) do |f| %>
        <%= render 'shared/error_reservation_adding' %>
        <div class="field">
          <%= f.collection_select :customer_id, Customer.all, :id, :lastname, { prompt: "#{t('select_customer')}" }, class: "browser-default" %>
          <div class="row">
            <div class="col s8">
              <div class="input-field col s10">
                <i class="material-icons prefix">schedule</i>
                <%= f.text_field :reserv_time , type: "date", class: "datepicker", :placeholder => "#{t('select_date')}"%>
              </div>
            </div>
            <div class="col s4">
              <%= f.select :from, time_select, :placeholder => "#{t('select_time')}" %>
            </div>
          </div>
          <div class="card-action">
            <button class="btn waves-effect waves-light blue-grey darken-4" type="submit" name="action"> <%=t :save_info %></button>
          </div>
          <% end %>
        </div>
      </div>
    </div>
  </div>
</div>
