<%= render 'layouts/header' %>
<div class="formfactor">
  <h4> <%=t :request %> #
    <%= @reservation.id %></h4>
    <%=t :customer %>:
  <%= @guest.lastname%></br>
  <%=t :table %> №<%= @reservation.table_id %></br>
  <%=t :date_time %>:
<%= @reservation.reserv_time %></br>
<% @restaurant.each do |f| %>
<%=t :at %>:
<%= f.name%></br>
<%=t :address %>:
<%= f.address %></br>
<%=t :tel %>:
<%= f.tel %>
<% end %>
</div>
