<%= render 'layouts/header' %>
<div class="formfactor">
  <h4>Request № <%= @reservation.id %></h4>
  Guest: <%= @guest.lastname%></br>
  For table №<%= @reservation.table_id %></br>
  Time: <%= @reservation.reserv_time %></br>
  <% @restaurant.each do |f| %>
    At: <%= f.name%></br>
    Located at:    <%= f.address %></br>
    Contact phone: <%= f.tel %>
  <% end %>
</div>
