<%= render 'layouts/header' %>
<div class="formfactor">
  <h4>Whom: <%= @review_book.customer %></h4>
  Restaurant: <%= @restaurant = Restaurant.find(@review_book.restaurant_id) %>
  Type: <%= @review_book.review_type %></br>
  Text: <%= @review_book.review %>
</div>
