<div class="panel">
  <%= render 'layouts/header' %>

<div class="row">
  <div class="col s4 offset-s4">
        <div class="card">
          <div class="card-image">
            <%= image_tag("cahier.jpg")%>
            <span class="card-title grey-text text-lighten-2">Hello, new cashier! Help us count money:</span>

          </div>
          <div class="card-content">
            <%= form_for(@cashier) do |f| %>
              <div class="field">
                <%= f.text_field :lastname,     :placeholder => "Your name and lastname" %> </br>
                <%= f.collection_select :restaurant_id, Restaurant.where(lang:I18n.locale), :id, :name, { prompt: "-Select jobplace-" }, class: "browser-default" %>
          </div>
          <div class="card-action">
            <button class="btn waves-effect waves-light blue-grey darken-4" type="submit" name="action">Save information</button>
          </div>
        </div>
      </div>
    </div>
    <% end %>
</div>
