<%= render 'layouts/header' %>

	<div class="row">
		<div class="col s10 offset-s1">
			<table id="table">
			    <thead>
			          <tr>
										<th data-field="id"> ID</th>
                    <th data-field="restaurant"> <%=t :restaurant %></th>
										<th data-field="waiter"> <%=t :waiter %></th>
			              <th data-field="visnumber"> <%=t :person_on %></th>
                    <th data-field="status"> <%=t :status %></th>
			              <th data-field="created_at"> <%=t :created %></th>
				            <th data-field="edit"> <%=t :edit %></th>
		    				    <th data-field="delete"> <%=t :delete %></th>
			          </tr>
			    </thead>

			    <tbody>
			    	<% @tables.each do |table| %>
						<% restaurant = Restaurant.find(table.restaurant_id) %>
			          <tr>
									<td> <%= table.id %></td>
			            <td> <%= restaurant.name %></td>
									<td> <%= table.waiter_id %></td>
			            <td> <%= table.visnumber %></td>
                  <td> <%= table.status %></td>
			            <td> <%= table.created_at %></td>
                  <td> <%= link_to "#{t('edit')}", edit_table_path(table) %></td>
	    					  <td> <%= link_to "#{t('delete')}", table, method: :delete, data: { confirm: "#{t('you_sure')}" } %></td>
			          </tr>
			        <% end %>
			    <tbody>
			</table>
		</div>
	</div>
