

<%= render 'layouts/header' %>
<div class="row">
  <div class="col s4 offset-s4">
        <div class="card">
          <div class="card-image">
            <%= image_tag("table.jpg")%>
            <span class="card-title grey-text text-lighten-2"> <%=t :hello_table %></span>
          </div>
          <div class="card-content">
            <%= form_for(@table) do |f| %>
              <div class="field">
                  <%= f.number_field :visnumber,  :placeholder => "#{t('person_on')}" %></br>

                <%= f.collection_select :restaurant_id, Restaurant.where(lang:I18n.locale), :id, :name, { prompt: "#{t('select_rest')}" }, class: "browser-default" %>
                <%= f.collection_select :waiter_id, Waiter.where(lang:I18n.locale), :id, :lastname, { prompt: "#{t('select_waiter')}" }, class: "browser-default" %>
                <%= f.collection_select :hall_id, Hall.where(lang:I18n.locale), :id, :hall_type, { prompt: "#{t('select_hall')}" }, class: "browser-default" %>
              </div>
          <div class="card-action">
            <button class="btn waves-effect waves-light blue-grey darken-4" type="submit" name="action">  <%=t :save_info %></button>
          </div>
        </div>
      </div>
    </div>
    <% end %>
