<%= render 'layouts/header' %>
<div class="row">
  <div class="col s4 offset-s4">
    <div class="card">
      <div class="card-image">
        <%= image_tag("administrator_new.jpg")%>
        <span class="card-title grey-text text-lighten-2"> <%=t :hello_restaurant %></span>
      </div>
      <div class="card-content">
        <%= form_for(@restaurant) do |f| %>
        <div class="field">
          <%= f.text_field :name,   class: "form-control",  :placeholder => "#{t('rest_name')}" %>
        </br>
        <%= f.text_field :address, class: "form-control", :placeholder => "#{t('address')}" %>
      </br>
      <%= f.telephone_field :tel,class: "form-control", :placeholder => "#{t('tel')}" %>
    </br>
  </div>
  <div class="card-action">
    <button class="btn waves-effect waves-light blue-grey darken-4" type="submit" name="action"> <%=t :save_info %></button>
  </div>
</div>
</div>
</div>
<% end %>
