<%= render 'layouts/header' %>

	<div class="row">
		<div class="col s10 offset-s1">
			<table id="restaurant">
			    <thead>
			          <tr>
                    <th data-field="id">ID</th>
			              <th data-field="name">Lastname</th>
                    <th data-field="address">Address</th>
                    <th data-field="tel">Tel</th>
										<th data-field="created_at">Created at</th>
                    <th data-field="edit">Edit</th>
		    				    <th data-field="delete">Delete</th>
			          </tr>
			    </thead>

			    <tbody>
			    	<% @restaurants.each do |restaurant| %>
			          <tr>
                  <td><%= restaurant.id %></td>
			            <td><%= restaurant.name %></td>
                  <td><%= restaurant.address %></td>
                  <td><%= restaurant.tel %></td>
									<td><%= restaurant.created_at %></td>
			            <td><%= link_to 'Edit', edit_restaurant_path(restaurant) %></td>
	    					  <td><%= link_to "Delete", restaurant, method: :delete, data: { confirm: "You sure?" } %></td>
			          </tr>
			        <% end %>
			    <tbody>
			</table>
		</div>
	</div>
