<%= render 'layouts/header' %>
<div class="row">
  <div class="col s4 offset-s4">
        <div class="card">
          <div class="card-image">
            <%= image_tag("restaurant.jpg")%>
            <span class="card-title grey-text text-lighten-2">New restaurant:</span>
          </div>
          <div class="card-content">
            <%= form_for(@restaurant) do |f| %>
              <div class="field">
                <%= f.text_field :name,     :placeholder => "Name of restaurant" %> </br>
                <%= f.text_field :address,  :placeholder => "Address" %> </br>
                <%= f.telephone_field :tel, :placeholder => "Telephone" %> </br>
                <%= f.select :lang, options_for_select([['Russian', 'ru'], ['English', 'en']]), :prompt => "#{t('choose_language')}", class: "browser-default" %>
              </div>
          <div class="card-action">
            <button class="btn waves-effect waves-light blue-grey darken-4" type="submit" name="action">Save information</button>
          </div>
        </div>
      </div>
    </div>
    <% end %>
