<div class="formfactor">
  <h3>New restaurant:</h3>
  <%= form_for(@restaurant) do |f| %>
    <%= f.text_field :name,     :placeholder => "Name and Lastname" %> </br>
    <%= f.text_field :address,  :placeholder => "Address" %> </br>
    <%= f.telephone_field :tel, :placeholder => "Telephone" %> </br>

    <%= f.submit "Save information" %>
  <% end %>
</div>
