<%= render 'layouts/header' %>
<div class="row">
  <div class="col s4 offset-s4">
        <div class="card">
          <div class="card-image">
            <%= image_tag("administrator_new.jpg")%>
            
          </div>
          <div class="card-content">
            <%= form_for(@administrator) do |f| %>
              <div class="field">
                <%= f.text_field :login, class: "form-control",    :placeholder => "Login" %> </br>
                <%= f.password_field :password, class: "form-control", :placeholder => "Password" %> </br>
                <%= f.password_field :password_confirmation, class: "form-control", :placeholder => "Password confirmation" %>
              </div>
          </div>
          <div class="card-action">
            <button class="btn waves-effect waves-light blue-grey darken-4" type="submit" name="action">Save information</button>
          </div>
        </div>
      </div>
    </div>
    <% end %>
