<%= render 'layouts/header' %>

	<div class="row">
		<div class="col s10 offset-s1">
			<table id="administrator">
			    <thead>
			          <tr>
										<th data-field="id">ID</th>
			              <th data-field="lastname"> <%=t :login %></th>

			              <th data-field="created_at"> <%=t :created %></th>
				            <th data-field="edit"> <%=t :edit %></th>
		    				    <th data-field="delete"> <%=t :delete %></th>
			          </tr>
			    </thead>

			    <tbody>
			    	<% @administrators.each do |administrator| %>

			          <tr>
									<td> <%= administrator.id %></td>
			            <td> <%= administrator.login %></td>
			            <td> <%= administrator.created_at %></td>
                  <td> <%= link_to "#{t('edit')}", edit_administrator_path(administrator) %></td>
	    					  <td> <%= link_to "#{t('delete')}", administrator, method: :delete, data: { confirm: "#{t('you_sure')}" } %></td>
			          </tr>
			        <% end %>
			    <tbody>
			</table>
		</div>
	</div>
