<%= render 'layouts/header' %>
<%= render 'layouts/slider' %>

<% if signed_in_user? %>
  <% session[:customer_id] = current_user.customer_id %>
  <% session[:customer]    = current_user.lastname %>
<% end %>

<div class="layer">
  <div class="row">
    <% if session[:customer].nil? %>

      <div class="center-align light grey-text text-lighten-3">
        <h1 class="hide-on-med-and-down"><%=t :hi_dear %></h1>
        <h3 class="center-align light grey-text text-lighten-3 hide-on-med-and-down"><%=t :please %></h3>


        <h3 class="hide-on-large-only"><%=t :hi_dear %></h3>
        <h5 class="center-align light grey-text text-lighten-3 hide-on-large-only"><%=t :please %></h5>
      <div class="white-text">
        <%= button_to  "#{t('authorise')}", new_customer_path, class: "btn blue-grey darken-3", :method => :get %>
      </div>
    </div>

    <% elsif !session[:customer].nil? and session[:reservation_id].nil? %>
      <div class="center-align light grey-text text-lighten-3">
        <h1 class="hide-on-med-and-down"><%=t :pleasure %><%= session[:customer] %>!</h1>
        <h3 class="hide-on-large-only"> <%=t :pleasure %><%= session[:customer] %>!</h3>
        <i><%= link_to "#{t('not_you')}", new_customer_path %></i>
        <%=t :reserv_time %>

        <div class="white-text">
          <%= button_to "#{t('reservation')}", allrestaurants_path, class: "btn blue-grey darken-3", :method => :get %>
        </div>
      </div>
    <% elsif !session[:reservation_id].nil? %>
      <% reservation = Reservation.find(session[:reservation_id]) %>
      <% table = Table.find(reservation.table_id) %>
      <% restaurant = Restaurant.find(table.restaurant_id) %>

      <div class="center-align light grey-text text-lighten-3">
        <h1 class="hide-on-med-and-down"><%=t :thank %><%= session[:customer] %>!</h1>
        <h3 class="hide-on-large-only"><%=t :thank %></br><%= session[:customer] %>!</h3>
        <i><%= link_to "#{t('not_you')}", new_customer_path %></i>
          or
        <i><%= link_to "#{t('wrong')}", allrestaurants_path %></i>

        <h3 class="center-align light grey-text text-lighten-3 hide-on-med-and-down"><%=t :can_make_order %></h3>
        <h5 class="center-align light grey-text text-lighten-3 hide-on-large-only"><%=t :can_make_order %></h5>
          <div class="white-text">
            <%= button_to "#{t('make_order')}", new_order_path, class: "btn blue-grey darken-4", :method => :get %>
          </div>
      </div>
    <% end %>
  </div>
</div>
<%= render 'layouts/footer' %>
