<%= render 'layouts/header' %>
<%= render 'layouts/slider' %>

<% if signed_in_user? %>
  <% session[:customer_id] = current_user.customer_id %>
  <% session[:customer]    = current_user.lastname %>
<% end %>

<div class="layer">
    <div class="white-text">
      <p>
        <% if session[:customer].nil? %>
        <h2>Hi, dear customer!</h2>
        <p>Please, authorise before your reservation and ordering.</p>
        <div class="white-text">
        <%= button_to "Authorise", new_customer_path, class: "btn blue-grey darken-3", :method => :get %>
</div>
        <% elsif !session[:customer].nil? and session[:reservation_id].nil? %>

          <h2>Plesure to see you, <%= session[:customer] %>!</h2>
          <i><%= link_to "Not you?", new_customer_path %></i>
          It's time to make a reservation!
  <div class="white-text">
          <%= button_to "Reservation", allrestaurants_path, class: "btn blue-grey darken-3", :method => :get %>
</div>

        <% elsif !session[:reservation_id].nil? %>
          <% reservation = Reservation.find(session[:reservation_id]) %>
          <% table = Table.find(reservation.table_id) %>
          <% restaurant = Restaurant.find(table.restaurant_id) %>

          <h2>Thank you for reservation, <%= session[:customer] %>!</h2>
          <i><%= link_to "Not you?", new_customer_path %></i> or <i><%= link_to "Wrong reservation?", allrestaurants_path %></i>
          Now you can make order!
  <div class="white-text">
         <%= button_to "Make order", new_order_path, class: "btn blue-grey darken-4", :method => :get %>
</div>


        <% end %>
      </p>
    </div>
</div>
<%= render 'layouts/footer' %>
