<%= render 'layouts/header' %>
<%= render 'layouts/slider' %>

<% if signed_in_user? %>
<% session[:customer_id] = current_user.customer_id %>
<% session[:customer]    = current_user.lastname %>
<% end %>

  <div class="row">
<div class="layer">


    <% if session[:customer].nil? %>
      <div class="content center-align light grey-text text-lighten-3">

      <h1>
        <%=t :hi_dear %>
      </h1>

      <h3 class="center-align light grey-text text-lighten-3">
        <%=t :please %>
      </h3>

      <div class="white-text">
        <%= button_to  "#{t('authorise')}", new_customer_path, class: "btn blue-grey darken-3", :method => :get %>
      </div>
    </div>


    <% elsif !session[:customer].nil? and session[:reservation_id].nil? %>
      <div class="col s6 offset-s9 content center-align light grey-text text-lighten-3">
    <h1>
      <%=t :pleasure %><%= session[:customer] %>!</h1>
    <i>
      <%= link_to "#{t('not_you')}", new_customer_path %></i>
    <%=t :reserv_time %>
    <div class="white-text">
      <%= button_to "#{t('reservation')}", allrestaurants_path, class: "btn blue-grey darken-3", :method => :get %>
    </div>
    </div>

    <% elsif !session[:reservation_id].nil? %>
    <% reservation = Reservation.find(session[:reservation_id]) %>
    <% table = Table.find(reservation.table_id) %>
    <% restaurant = Restaurant.find(table.restaurant_id) %>
<div class="col s6 offset-s5  content center-align light grey-text text-lighten-3">
    <h1>
      <%=t :thank %>
      <%= session[:customer] %>!</h1>
    <i>
      <%= link_to "#{t('not_you')}", new_customer_path %></i>
    or
    <i><%= link_to "Wrong reservation?", allrestaurants_path %></i>
      <h3 class="center-align light grey-text text-lighten-3">
    <%=t :can_make_order %> </h3>
    <div class="white-text">
      <%= button_to "#{t('make_order')}", new_order_path, class: "btn blue-grey darken-4", :method => :get %>
    </div>

    <% end %>
    </div>
  </div>
</div>
<%= render 'layouts/footer' %>
