<%= render 'layouts/header' %>

<div class="row">

<%= render 'administrators/leftmenu' %>

  <div class="col s8 offset-s2">
    <div class="card">
      <div class="card-content blue-grey darken-4">
        <span class="card-title white-text">Top dishes for last week and profit</span>
      </div>

      <div class="card-content">
      <p>
        <h4>Date from <i><%= DateTime.now.to_date - 7.days%></i> to <i><%= DateTime.now.to_date %></i> </h4>
        <h5>Total profit for last 7 days is <%= @cost %> &#8364; </h5>
      </p>

      <div class="row">
        <div class="col s8">
          <table>
			      <thead>
              <tr>
                <th>Dish</th>
                <th>Number of sold</th>
                <th>Profit</th>
              </tr>
            </thead>
            <tbody>
              <% @top.each do |f| %>
                <tr>
                  <td>
                    <% if f != @top.first %>
                      <i><%= f.itemdesc %></i>
                    <% else %>
                      <b><%= f.itemdesc %></b>
                    <% end %>
                  </td>
                  <td>
                    <div class="center">
                      <i><%= f.val %> pcs</i>
                    </div>
                  </td>
                  <td>
                    <div class="center">
                      <i><%= f.profit %> &#8364;</i>
                    </div>
                  </td>
                </tr>
              <% end %>
            </tbody>
          </table>
        </div>
      </div>
      <div class="card-action">
        <%= link_to "Back to administrator page", controlpanel_path %>
      </div>

    </div>
  </div>
</div>
