<%= render 'layouts/header' %>
<div class="panel">
<!-- MAIN CONTAINER-->
<div class="row">

  <!-- Left nav bar-->
  <div class="col s2 hide-on-med-and-down">
    <div class="fixed-div">
      <div class="card">
        <div class="card-content ">
          <h4><%= current_administrator.login.capitalize %></h4>
          <h5>Control panel</h5>
          <b><%= link_to "Add Restaurant", new_restaurant_path %></b>
          </br><%= link_to "Add Administrator", new_administrator_path %>
          </br><%= link_to "Top kitchen's workers", topwaiters_path %>
          </br><%= link_to "View top dishes", lastweektop_path %>
          </br><%= link_to "Days Statistic", alldayslong_path %>
        </div>
        <div class="card-action">
          <%= link_to "Sign out", signout_path, method: "delete" %>
        </div>
      </div>
    </div>
  </div>
  <!-- End left nav bar -->

  <!-- Right container -->
  <div class="col s10 m10 offset-s2">
    <!-- Put other rows there! -->

    <div class="row">
      <div class="col s12">
        <h2>Enrolling & Controlling</h2>
      </div>
    </div>

    <div class="row">

      <div class="col s2">
        <div class="card">
          <div class="card-image">
            <%= image_tag 'employers/manager.png' %>
          </div>
          <div class="card-action">
            <%= link_to "Add Manager", new_manager_path %>
          </div>
        </div>
      </div>

      <div class="col s2">
        <div class="card">
          <div class="card-image">
            <%= image_tag 'employers/hostess.png' %>
          </div>
          <div class="card-action">
            <%= link_to "Add Hostess", new_hostess_path %>
          </div>
        </div>
      </div>

      <div class="col s2">
          <div class="card">
            <div class="card-image">
              <%= image_tag 'employers/waiter.png' %>
            </div>
            <div class="card-action">
              <%= link_to "Add Waiter", new_waiter_path %>
            </div>
          </div>
      </div>

      <div class="col s2">
          <div class="card">
            <div class="card-image">
              <%= image_tag 'employers/chef.png' %>
            </div>
            <div class="card-action">
              <%= link_to "Add Cheff", new_chef_path %>
            </div>
          </div>
      </div>

      <div class="col s2">
        <div class="card">
          <div class="card-image">
            <%= image_tag 'employers/cashier.png' %>
          </div>
          <div class="card-action">
            <%= link_to "Add Cashier", new_cashier_path %>
          </div>
        </div>
      </div>

      <div class="col s2">
        <div class="card">
          <div class="card-image">
            <%= image_tag 'employers/administrator.png' %>
          </div>
          <div class="card-action">
            <%= link_to "Add admin", new_administrator_path %>
          </div>
        </div>
      </div>

    </div>

    <div class="row">

      <div class="col s2">
        <div class="card">
          <div class="card-action">
              <%= link_to "View all Managers", managers_path%>
          </div>
        </div>
      </div>

      <div class="col s2">
        <div class="card">
          <div class="card-action">
            <%= link_to "View all hostesses", hostesses_path%>
          </div>
        </div>
      </div>

      <div class="col s2">
        <div class="card">
          <div class="card-action">
            <%= link_to "View all waiters", waiters_path%>
          </div>
        </div>
      </div>

      <div class="col s2">
        <div class="card">
          <div class="card-action">
            <%= link_to "View all chefs", chefs_path%>
          </div>
        </div>
      </div>

      <div class="col s2">
        <div class="card">
          <div class="card-action">
            <%= link_to "View all cashiers", cashiers_path%>
          </div>
        </div>
      </div>

      <div class="col s2">
        <div class="card">
          <div class="card-action">
            <%= link_to "View all admins", administrators_path%>
          </div>
        </div>
      </div>

    </div>

    <div class="row">
      <div class="col s12">
        <h2>Customers & Orders</h2>
      </div>
    </div>

  <div class="row">
      <div class="col s2">
        <div class="card">
          <div class="card-image">
            <%= image_tag 'customers/guest.png' %>
          </div>
          <div class="card-action">
            <%= link_to "Add Guest", new_customer_path %>
          </div>
        </div>
      </div>

      <div class="col s2">
        <div class="card">
          <div class="card-image">
            <%= image_tag 'customers/reservation.png' %>
          </div>
          <div class="card-action">
            <%= link_to "Add reservations", new_reservation_path %>
          </div>
        </div>
      </div>

      <div class="col s2">
        <div class="card">
          <div class="card-image">
            <%= image_tag 'customers/review_book.png' %>
          </div>
          <div class="card-action">
            <%= link_to "Add Review", new_review_book_path %>
          </div>
        </div>
      </div>

      <div class="col s2">
        <div class="card">
          <div class="card-image">
            <%= image_tag 'customers/order.png' %>
          </div>
          <div class="card-action">
            <%= link_to "Add Order", new_order_path %>
          </div>
        </div>
      </div>

      <div class="col s2">
        <div class="card">
          <div class="card-image">
            <%= image_tag 'customers/bill.png' %>
          </div>
          <div class="card-action">
            <%= link_to "View bills", bills_path %>
          </div>
        </div>
      </div>

  </div>

  <div class="row">
    <div class="col s2">
      <div class="card">
        <div class="card-action">
          <%= link_to "All Guests", customers_path %>
        </div>
      </div>
    </div>

    <div class="col s2">
      <div class="card">
        <div class="card-action">
          <%= link_to "All Reservs", reservations_path %>
        </div>
      </div>
    </div>

    <div class="col s2">
      <div class="card">
        <div class="card-action">
          <%= link_to "All Reviews", review_books_path %>
        </div>
      </div>
    </div>

    <div class="col s2">
      <div class="card">
        <div class="card-action">
          <%= link_to "All Orders", orders_path %>
        </div>
      </div>
    </div>

    <div class="col s2">
      <div class="card">
        <div class="card-action">
          <%= link_to "All Bills", bills_path %>
        </div>
      </div>
    </div>

  </div>

  <div class="row">
    <div class="col s12">
      <h2>Equipment & Food</h2>
    </div>
  </div>

  <div class="row">
    <div class="col s2">
      <div class="card">
        <div class="card-image">
          <%= image_tag 'equipment/hall.png' %>
        </div>
        <div class="card-action">
          <%= link_to "Add Hall", new_hall_path %>
        </div>
      </div>
    </div>

    <div class="col s2">
      <div class="card">
        <div class="card-image">
          <%= image_tag 'equipment/table.png' %>
        </div>
        <div class="card-action">
          <%= link_to "Add Table", new_table_path %>
        </div>
      </div>
    </div>

    <div class="col s2">
      <div class="card">
        <div class="card-image">
          <%= image_tag 'equipment/menu.png' %>
        </div>
        <div class="card-action">
          <%= link_to "Add Cuisine", new_menu_path %>
        </div>
      </div>
    </div>

    <div class="col s2">
      <div class="card">
        <div class="card-image">
          <%= image_tag 'equipment/item.png' %>
        </div>
        <div class="card-action">
          <%= link_to "Add item", new_item_path %>
        </div>
      </div>
    </div>
  </div>

  <div class="row">

    <div class="col s2">
      <div class="card">
        <div class="card-action">
          <%= link_to "All Halls", halls_path %>
        </div>
      </div>
    </div>

    <div class="col s2">
      <div class="card">
        <div class="card-action">
          <%= link_to "All Tables", tables_path %>
        </div>
      </div>
    </div>

    <div class="col s2">
      <div class="card">
        <div class="card-action">
          <%= link_to "All Menus", menus_path %>
        </div>
      </div>
    </div>

    <div class="col s2">
      <div class="card">
        <div class="card-action">
          <%= link_to "All Items", items_path %>
        </div>
      </div>
    </div>

  </div>
</div>
</div>
