<h2>Control panel of DataBase</h2>

<div class="table">
  <h3>Staff</h3>
  <div class="tr">
    <div class="td"><%= link_to "Add Restaurant", new_restaurant_path %></div>
    <div class="td"><%= link_to "Add Administrator", new_administrator_path %></div>
    <div class="td"><%= link_to "Add Hostess", new_hostess_path %></div>
    <div class="td"><%= link_to "Add Waiter", new_waiter_path %></div>
  </div>
  <div class="tr">
    <div class="td"></div>
    <div class="td"><%= link_to "Add Cashier", new_cashier_path %></div>
    <div class="td"><%= link_to "Add Cheff", new_chef_path %></div>
    <div class="td"></div>
  </div>
</div>

<div class="table">
<h3>Customers</h3>
  <div class="tr">
    <div class="td"><%= link_to "Add Guest", new_customer_path %></div>
    <div class="td"><%= link_to "Add Reservation", new_reservation_path %></div>
    <div class="td"><%= link_to "Add Review", new_review_book_path %></div>
    <div class="td"><%= link_to "Add Bill", new_bill_path %></div>
  </div>
</div>

<div class="table">
<h3>Equipment</h3>
  <div class="tr">
    <div class="td"></div>
    <div class="td"><%= link_to "Add Hall", new_hall_path %></div>
    <div class="td"><%= link_to "Add Table", new_table_path %></div>
    <div class="td"></div>
  </div>
</div>
