<%= render 'layouts/header' %>
<div class="formfactor">
    <h4> <%=t :db_adm %></h4>
    <%=t :personal_id %> <%= @administrator.id %></br>
    <%=t :login %> <%= @administrator.login %></br>
      <% if signed_<%=t :hi_dear %>in? %>
      <%= link_to "#{t('signout')}", signout_path, method: "delete" %>
    <% else %>
    <%=t :not_signed %>
    <% end %>

</div>
