<div class="formfactor">
  <h4><%= @administrator.lastname %></h4>
  Personal id: <%= @administrator.id %></br>
  Contact phone: <%= @administrator.tel %></br>
  Works at <%= @restaurant.name %> since <%= @administrator.created_at.strftime("%d.%b.%Y") %> </br>
</div>
