<%= render 'layouts/header' %>

<div class="row">

  <div class="col s2 hide-on-med-and-down">
  <div class="fixed-div">
    <div class="card">
      <div class="card-content ">
        <h4><%= current_administrator.login.capitalize %></h4>
        <h5>Control panel</h5>
        <b><%= link_to "Add Restaurant", new_restaurant_path %></b>
        </br><%= link_to "Add Administrator", new_administrator_path %>
      </br><%= link_to "View top workers", topwaiters_path %>
      </div>
      <div class="card-action">
        <%= link_to "Sign out", signout_path, method: "delete" %>
      </div>
    </div>
  </div>
  </div>

  <div class="col s8 offset-s2">
    <div class="card">
      <div class="card-content cyan darken-4">
        <span class="card-title white-text">TOP KITCHENS' WORKERS</span>
      </div>

      <div class="card-content">
      <p><h4>Top waiters and chefs by number of orders</h4></p>

      <div class="row">
        <div class="col s6">
          <table>
			      <thead>
              <tr>
                <th>Waiter</th>
                <th>Number of orders</th>
              </tr>
            </thead>
            <tbody>
              <% @waiters.each do |f| %>
                <tr>
                  <td>
                    <% if f != @waiters.first %>
                      <i><%= f.lastname %></i>
                    <% else %>
                      <b><%= f.lastname %></b>
                    <% end %>
                  </td>
                  <td>
                    <div class="center">
                      <i><%= f.orders_number %></i>
                    </div>
                  </td>
                </tr>
              <% end %>
            </tbody>
          </table>
        </div>

        <div class="col s6">
          <table>
            <thead>
              <tr>
                <th>Chef</th>
                <th>Number cooked dishes</th>
              </tr>
            </thead>
            <tbody>
              <% @chefs.each do |f| %>
                <tr>
                  <td>
                    <% if f != @chefs.first %>
                      <i><%= f.lastname %></i>
                    <% else %>
                      <b><%= f.lastname %></b>
                    <% end %>
                  </td>
                  <td>
                    <div class="center">
                      <i><%= f.orders_pcs %></i>
                    </div>
                  </td>
                </tr>
              <% end %>
            </tbody>
          </table>
        </div>
      </div>

      <div class="card-action">
        <%= link_to "Back to administrator page", controlpanel_path %>
      </div>

    </div>
  </div>
</div>
