<%= render 'layouts/header' %>
<div class="row">
  <div class="col s4 offset-s4">
        <div class="card">
          <div class="card-image">
            <%= image_tag("administrator_new.jpg")%>
            <span class="card-title grey-text text-lighten-2">Adding new item to menu.Tasty one: </span>
          </div>
          <div class="card-content">
            <%= form_for(@item) do |f| %>
              <div class="field">
                <%= f.text_field :description, class: "form-control", :placeholder => "Item name and brief description"%>
                <%= f.number_field :price, class: "form-control", :placeholder => "Set price", :step => "any" %> </br>
                <%= f.collection_select :menu_id, Menu.all, :id, :cuisine, { prompt: "-Select cuisine-" }, class: "browser-default" %>
              </div>
          <div class="card-action">
            <button class="btn waves-effect waves-light blue-grey darken-4" type="submit" name="action">Save information</button>
          </div>
        </div>
      </div>
    </div>
    <% end %>
