<%= render 'layouts/header' %>
<div class="formfactor">
  <h4><%= @item.id %>. <%= @item.description %></h4>
  <%=t :menu %>: <%= @cuisine.cuisine %></br>
  <%=t :price %>: <%= @item.price %>$
</div>
