<%= render 'layouts/header' %>
<div class="row">
  <div class="col s4 offset-s4">
        <div class="card">
          <div class="card-image">
            <%= image_tag("administrator_new.jpg")%>
            <span class="card-title grey-text text-lighten-2">Hello, new administrator! Help our customers: </span>
          </div>
          <div class="card-content">
            <%= form_for(@hostess) do |f| %>
              <div class="field">
                <%= f.text_field :lastname,  class: "form-control",   :placeholder => "Your name and lastname" %></br>
                <%= f.collection_select :restaurant_id, Restaurant.all, :id, :name, { prompt: "-Select jobplace-" }, class: "browser-default" %>
                <%= f.collection_select :hall_id, Hall.all, :id, :hall_type, { prompt: "-Select your hall-" }, class: "browser-default" %>
              </div>
          <div class="card-action">
            <button class="btn waves-effect waves-light cyan darken-4" type="submit" name="action">Save information</button>
          </div>
        </div>
      </div>
    </div>
    <% end %>
