<%= render 'layouts/header' %>
<div class="row">
  <div class="col s4 offset-s4">
        <div class="card">
          <div class="card-image">
            <%= image_tag("hostess.jpg")%>
            <span class="card-title grey-text text-lighten-2"> <%=t :hello_hostess %></span>
          </div>
          <div class="card-content">
            <%= form_for(@hostess) do |f| %>
              <div class="field">
                <%= f.text_field :lastname,     :placeholder => "Your name and lastname" %></br>
                <%= f.collection_select :restaurant_id, Restaurant.all, :id, :name, { prompt: "#{t('jobplace')}" }, class: "browser-default" %>
                <%= f.collection_select :hall_id, Hall.all, :id, :hall_type, { prompt: "#{t('select_hall')}" }, class: "browser-default" %>
              </div>
          <div class="card-action">
            <button class="btn waves-effect waves-light blue-grey darken-4" type="submit" name="action"> <%=t :save_info %></button>
          </div>
        </div>
      </div>
    </div>
    <% end %>
