<%= render 'layouts/header' %>
<div class="formfactor">
  <h4><%= @hostess.lastname %></h4>
  <%=t :personal_id %> <%= @hostess.id %></br>
  <%=t :works_at %> <b><%= @restaurant.name %></b>,</br><%= @hall.hall_type %> </br>
</div>
