<div class="navbar-fixed">
  <nav>
    <div class="nav-wrapper header">
      <%= link_to "#{t('restaurant')}", root_path, class: "brand-logo headtext" %>
      <a href="#" data-activates="mobile-menu" class="button-collapse">
        <i class="material-icons">menu</i>
      </a>
      <ul id="nav-mobile" class="right hide-on-med-and-down">

        <li>
          <%= lang_switcher %></li>
        <% if signed_in? %>
        <li>
          <%= link_to current_administrator.login.capitalize, controlpanel_path %></li>
        <li class="active"> <%= link_to "#{t('signout')}", signout_path, method: "delete" %></li>
        <% elsif signed_in_user? %>
        <li>
          <%= link_to current_user.lastname, current_user %></li>
        <li class="active">
          <%= link_to "#{t('signout')}", user_signout_path, method: "delete" %></li>
      <% else %>
        <li class="active">
          <%= link_to "#{t('login')}",  user_signin_path %></li>
        <% end %>
      </ul>
      <ul class="side-nav" id="mobile-menu">
        <li>
          <%= lang_switcher %></li>
        <% if signed_in? %>
        <li>
          <b> <%= link_to current_administrator.login.capitalize, controlpanel_path %></b>
        </li>
        <li class="active"> <%= link_to "#{t('signout')}", signout_path, method: "delete" %></li>
        <% elsif signed_in_user? %>
        <li> <%= link_to current_user.lastname, current_user %></li>
        <li class="active"> <%= link_to "#{t('signout')}", user_signout_path, method: "delete" %></li>
      <% else %>
        <li class="active"> <%= link_to "#{t('login')}",  user_signin_path %></li>
        <% end %>
      </ul>
    </div>
  </nav>
</div>
