<!DOCTYPE html>
<html>
<head>
  <title>Coursework</title>
  <%= stylesheet_link_tag    'application', media: 'all', 'data-turbolinks-track' => true %>
  <%= javascript_include_tag 'application', 'data-turbolinks-track' => true %>
  <link href="https://fonts.googleapis.com/icon?family=Material+Icons" rel="stylesheet">
  <link href='https://fonts.googleapis.com/css?family=Pinyon+Script'   rel='stylesheet' type='text/css'>
  <%= csrf_meta_tags %>
</head>
<body>
  <% if signed_in? %>
    <%= yield %>
  <% else %>
    <% case request.env['PATH_INFO'] %>
    <% when "/" %>
      <%= yield %>
    <% when "/orders/new" %>
      <%= yield %>
    <% when "/orders/complete" %>
      <%= yield %>
    <% when "/customers/new" %>
      <%= yield %>
    <% when "/authorise" %>
      <%= yield %>
    <% else %>
      <h3>You have no permissions to be there!</h3>
    <% end %>
  <% end %>
</body>
</html>
